podIdentity:
  metadata:
    name: {{deployment:id}}-{{deployment:eks:druid:release}}-druid-sa
    namespace: druid
    labels:
      "{{deployment:domain}}/resource-type": service-account
      "{{deployment:domain}}/category": compute.storage
      "{{deployment:domain}}/type": analytics
      "{{deployment:domain}}/component": druid-access
      "{{deployment:domain}}/organization": "{{deployment:organization}}"
      "{{deployment:domain}}/name": "{{deployment:team:name}}"
      "{{deployment:domain}}/alias": "{{deployment:team:alias}}"
    annotations: { }
  role:
    name: {{deployment:id}}-{{deployment:eks:druid:release}}-druid-pod-identity
    principal:
      type: service
      value: pods.eks.amazonaws.com
    managedPolicyNames: [ ]
    customPolicies:
      - name: {{deployment:id}}-{{deployment:eks:druid:release}}-druid-bucket-access
        policy: policy/druid-bucket-access.mustache
        mappings:
          resources:
            - arn:aws:s3:::{{deployment:id}}-{{deployment:eks:druid:release}}-druid-indexlogs
            - arn:aws:s3:::{{deployment:id}}-{{deployment:eks:druid:release}}-druid-indexlogs/*
            - arn:aws:s3:::{{deployment:id}}-{{deployment:eks:druid:release}}-druid-deepstorage
            - arn:aws:s3:::{{deployment:id}}-{{deployment:eks:druid:release}}-druid-deepstorage/*
            - arn:aws:s3:::{{deployment:id}}-{{deployment:eks:druid:release}}-druid-msq
            - arn:aws:s3:::{{deployment:id}}-{{deployment:eks:druid:release}}-druid-msq/*
      - name: {{deployment:id}}-{{deployment:eks:druid:release}}-druid-secret-access
        policy: policy/secret-access.mustache
        mappings:
          resources:
            - arn:aws:secretsmanager:{{deployment:region}}:{{deployment:account}}:secret:{{deployment:id}}-{{deployment:eks:druid:release}}-druid-tls*
            - arn:aws:secretsmanager:{{deployment:region}}:{{deployment:account}}:secret:{{deployment:id}}-{{deployment:eks:druid:release}}-druid-admin*
            - arn:aws:secretsmanager:{{deployment:region}}:{{deployment:account}}:secret:{{deployment:id}}-{{deployment:eks:druid:release}}-druid-system*
            - arn:aws:secretsmanager:{{deployment:region}}:{{deployment:account}}:secret:{{deployment:id}}-{{deployment:eks:druid:release}}-druid-metadata*
      - name: {{deployment:id}}-{{deployment:eks:druid:release}}-druid-manage-volume
        policy: policy/manage-volume.mustache
        mappings:
          resources:
            - arn:aws:ec2:{{deployment:region}}:{{deployment:account}}:volume/*
            - arn:aws:ec2:{{deployment:region}}:{{deployment:account}}:instance/*
      - name: {{deployment:id}}-{{deployment:eks:druid:release}}-druid-msk-cluster-access
        policy: policy/msk-cluster-access.mustache
        mappings:
          topics:
            - arn:aws:kafka:{{deployment:region}}:{{deployment:account}}:topic/{{deployment:id}}-{{deployment:eks:druid:release}}-druid-msk/*
          clusters:
            - arn:aws:kafka:{{deployment:region}}:{{deployment:account}}:cluster/{{deployment:id}}-{{deployment:eks:druid:release}}-druid-msk/*
          groups:
            - arn:aws:kafka:{{deployment:region}}:{{deployment:account}}:group/{{deployment:id}}-{{deployment:eks:druid:release}}-druid-msk/*
    tags:
      "{{deployment:domain}}:resource-type": role
      "{{deployment:domain}}:category": compute.storage
      "{{deployment:domain}}:type": analytics
      "{{deployment:domain}}:component": {{deployment:id}}-druid-access
      "{{deployment:domain}}:organization": "{{deployment:organization}}"
      "{{deployment:domain}}:name": "{{deployment:team:name}}"
      "{{deployment:domain}}:alias": "{{deployment:team:alias}}"
  tags:
    "{{deployment:domain}}:resource-type": pod-identity-association
    "{{deployment:domain}}:category": compute.storage
    "{{deployment:domain}}:type": analytics
