kafka:
  name: {{deployment:id}}-{{deployment:eks:druid:release}}-druid-msk
  clients:
    - name: {{deployment:id}}-{{deployment:eks:druid:release}}-druid-msk-client
      podIdentity:
        metadata:
          name: {{deployment:id}}-{{deployment:eks:druid:release}}-druid-msk-sa
          namespace: api
          labels:
            "{{deployment:domain}}/resource-type": service-account
            "{{deployment:domain}}/category": druid
            "{{deployment:domain}}/type": ingestion
            "{{deployment:domain}}/component": api
            "{{deployment:domain}}/organization": "{{deployment:organization}}"
            "{{deployment:domain}}/name": "{{deployment:team:name}}"
            "{{deployment:domain}}/alias": "{{deployment:team:alias}}"
          annotations: { }
        role:
          name: {{deployment:id}}-{{deployment:eks:druid:release}}-druid-msk-pod-identity
          principal:
            type: service
            value: pods.eks.amazonaws.com
          managedPolicyNames: [ ]
          customPolicies:
            - name: {{deployment:id}}-{{deployment:eks:druid:release}}-druid-cluster-access
              policy: policy/msk-cluster-access.mustache
              mappings:
                topics:
                  - arn:aws:kafka:{{deployment:region}}:{{deployment:account}}:topic/{{deployment:id}}-{{deployment:eks:druid:release}}-druid-msk/*
                clusters:
                  - arn:aws:kafka:{{deployment:region}}:{{deployment:account}}:cluster/{{deployment:id}}-{{deployment:eks:druid:release}}-druid-msk/*
                groups:
                  - arn:aws:kafka:{{deployment:region}}:{{deployment:account}}:group/{{deployment:id}}-{{deployment:eks:druid:release}}-druid-msk/*
          tags:
            "{{deployment:domain}}:resource-type": role
            "{{deployment:domain}}:category": api
            "{{deployment:domain}}:type": ingest
            "{{deployment:domain}}:component": {{deployment:id}}-api
            "{{deployment:domain}}:organization": "{{deployment:organization}}"
            "{{deployment:domain}}:name": "{{deployment:team:name}}"
            "{{deployment:domain}}:alias": "{{deployment:team:alias}}"
        tags:
          "{{deployment:domain}}:resource-type": pod-identity-association
          "{{deployment:domain}}:category": api
          "{{deployment:domain}}:type": ingest
  tags:
    "{{deployment:domain}}:resource-type": msk
    "{{deployment:domain}}:category": compute
    "{{deployment:domain}}:type": streaming
    "{{deployment:domain}}:component": {{deployment:id}}-{{deployment:eks:druid:release}}-druid-msk
    "{{deployment:domain}}:organization": "{{deployment:organization}}"
    "{{deployment:domain}}:name": "{{deployment:team:name}}"
    "{{deployment:domain}}:alias": "{{deployment:team:alias}}"
